<nb-layout rtl>
    <nb-layout-header>
        <div class="logo">
            <img src="../assets/logo-new.png" alt="">
        </div>
        <nb-icon icon="lock-outline" class="logout-icon" (click)="logout()" nbTooltip="logout" nbTooltipStatus="primary"
            nbTooltipPlacement="bottom"></nb-icon>
        <nb-icon icon="people-outline" class="people-icon" (click)="toConsole()" *ngIf="adminAccess"
            nbTooltip="Admin Console" nbTooltipStatus="primary" nbTooltipPlacement="bottom"></nb-icon>
    </nb-layout-header>
    <nb-layout-column>
        <button (click)="getMoreMessages()">Get More Messages</button>
        <div class="chat-area">
            <div *ngIf="activeChat">
                <img *ngIf="activeChat.chatChannelId == 'whatsapp'" src="../../../../assets/whatsapp-ico.png" alt="">
                <img *ngIf="activeChat.chatChannelId == 'sms'" src="../../../../assets/sms-ico.png" alt="">
                <img *ngIf="activeChat.chatChannelId == 'messenger'" src="../../../../assets/facebook-ico.png" alt="">
            </div>
            <div class="statuses">
                <!-- assigned select -->
                <div class="select-assigned" *ngIf="activeChat && users" nbButton [nbPopover]="popoverAssigned"
                    nbPopoverPlacement="bottom">


                    <div>
                        {{ text.normalize(getUserById(activeChat.assignedUserId)?.name, 15, "...") || 'הקצה ל..'}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:
                    </div>
                    <div>גורם מטפל</div>

                    <nb-icon icon="arrow-ios-downward-outline"></nb-icon>
                </div>
                <ng-template #popoverAssigned NbPosition="bottom" class="popover-assigned">
                    <div *ngFor="let user of usersWithRoles" (click)="assignTo(user.id)">
                        {{text.normalize(user.name, 10, "...")}}
                    </div>
                </ng-template>
                <!-- status select -->
                <div class="select-status" *ngIf="activeChat" nbButton [nbPopover]="popoverStatus"
                    nbPopoverPlacement="bottom">
                    סטטוס:
                    &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                    {{activeChat.chatStatusId == 'new' ? 'חדשות' : ''}}
                    {{activeChat.chatStatusId == 'active' ? 'פעילות' : ''}}
                    {{activeChat.chatStatusId == 'resolved' ? 'נפתרו' : ''}}
                    {{activeChat.chatStatusId == 'archived' ? 'ארכיון' : ''}}
                    <span [ngClass]="activeChat.chatStatusId"></span>
                    <nb-icon icon="arrow-ios-downward-outline"></nb-icon>
                </div>
                <ng-template #popoverStatus NbPosition="bottom" class="popover-status">
                    <div (click)="changeStatus('new')"><span class="new"></span>חדשות</div>
                    <div (click)="changeStatus('active')"><span class="active"></span>פעילות</div>
                    <div (click)="changeStatus('resolved')"><span class="resolved"></span>נפתרו</div>
                    <div (click)="changeStatus('archived')"><span class="archived"></span> ארכיון</div>
                </ng-template>
            </div>
            <nb-chat scrollBottom="true" [title]="hook.getUserById(activeChat?.userId)?.name || ''">
                <nb-chat-message *ngFor="let message of messages.value" [message]="message.details"
                    [type]="message.type" [sender]="getUserById(message.userId) ? getUserById(message.userId).name : ''"
                    [files]="message.files" [reply]="message.userId != actualUserId" [date]="message.createdOn"
                    [dateFormat]="'medium'">
                </nb-chat-message>
                <nb-chat-form [message]="shareUrl" messagePlaceholder="הקלדת הודעה" (send)="newMessage($event)"
                    [dropFiles]="true"></nb-chat-form>
            </nb-chat>
        </div>
    </nb-layout-column>
    <nb-layout-column class="notes-video-column">
        <nb-card class="notes">
            <app-notes-list [notes]="notes.value" [chatId]="activeChatId" (addNote)="newNote($event)"
                (deleteNote)="removeNote($event)"></app-notes-list>
        </nb-card>
        <app-video-chat [url]="roomUrlWithToken" (inviteUserToVideoChat)="putShareLink()"></app-video-chat>
    </nb-layout-column>
    <nb-layout-column start="true" class="chats-column">
        <div class="chats">
            <app-chat-rooms-llist [rooms]="tempChatsFilteredByStatus" (roomChanged)="getRoomMesages($event)" [activeChatId]="activeChatId"
                [actualUserId]="actualUserId" (filterStatus)="filterStatus($event)">
            </app-chat-rooms-llist>
        </div>
    </nb-layout-column>
</nb-layout>