<nb-layout rtl>
    <nb-layout-header>
        <div class="logo">
            <img src="../assets/logo.png" alt="">
        </div>
        <nb-icon icon="lock-outline" class="logout-icon" (click)="logout()"></nb-icon>
        <!-- <nb-icon *ngIf="darkMode" (click)="switchTheme()" nbButton icon="moon-outline"></nb-icon>
      <nb-icon *ngIf="!darkMode" (click)="switchTheme()" nbButton icon="sun-outline"></nb-icon> -->
    </nb-layout-header>
    <nb-layout-column>

        <div class="chat-area">
            <div class="select-status" *ngIf="activeChat" nbButton [nbPopover]="popoverStatus"
                nbPopoverPlacement="bottom">
                {{activeChat.chatStatusId}}
                <span [ngClass]="activeChat.chatStatusId"></span>
            </div>
            <ng-template #popoverStatus NbPosition="bottom" class="popover-status">
                <div (click)="changeStatus('new')"><span class="new"></span>New</div>
                <div (click)="changeStatus('active')"><span class="active"></span>Active</div>
                <div (click)="changeStatus('resolved')"><span class="resolved"></span>Resolved</div>
                <div (click)="changeStatus('archived')"><span class="archived"></span>Archived</div>
            </ng-template>
            <!-- <nb-select class="select-status" size="small" *ngIf="activeChat" placeholder="Select Status"
          [(selected)]="activeChat.chatStatusId" (selectedChange)="changeStatus($event)">
          <nb-option value="new">New</nb-option>
          <nb-option value="active">Active</nb-option>
          <nb-option value="resolved">Resolved</nb-option>
          <nb-option value="archived">Archived</nb-option>
        </nb-select> -->
            <nb-chat scrollBottom="true" [title]="activeChatId ? 'Chat title' : 'Chose a chat'">
                <nb-chat-message *ngFor="let message of messages.value" [message]="message.details"
                    [type]="message.type" [sender]="getUserById(message.userId).name" [files]="message.files"
                    [reply]="message.userId == actualUserId">
                </nb-chat-message>
                <nb-chat-form [message]="shareUrl" messagePlaceholder="הקלד הודעה" (send)="newMessage($event)"
                    [dropFiles]="true"></nb-chat-form>
            </nb-chat>
        </div>
    </nb-layout-column>
    <nb-layout-column class="notes-video-column">
        <nb-card class="notes">
            <app-notes-list [notes]="notes.value" [chatId]="activeChatId" (addNote)="newNote($event)"
                (deleteNote)="removeNote($event)"></app-notes-list>
        </nb-card>
        <app-video-chat [url]="roomUrlWithToken" (inviteUserToVideoChat)="putShareLink()"></app-video-chat>
    </nb-layout-column>
    <nb-layout-column start="true" class="chats-column">
        <div class="chats">
            <app-chat-rooms-llist [rooms]="chats.value" (roomChanged)="getRoomMesages($event)"
                (removeChat)="removeChat($event)" (filterStatus)="filterStatus($event)"></app-chat-rooms-llist>
        </div>
    </nb-layout-column>
</nb-layout>