<div class="register-form-container">
    <input type="text" nbInput placeholder="אימייל" [(ngModel)]="email" [status]="email ? 'primary' : 'danger'">
    <input type="password" nbInput placeholder="סיסמה" [(ngModel)]="password"
        [status]="password ? 'primary' : 'danger'">
    <input type="password" nbInput placeholder="חזור על הסיסמה" [(ngModel)]="passwordRepeat"
        [status]="passwordRepeat && password == passwordRepeat ? 'primary' : 'danger'">
    <span *ngIf="errorMessage">{{errorMessage}}</span>
    <button nbButton status="primary" [disabled]='!password || !email || password !== passwordRepeat'
        (click)="register()">ללכת</button>
</div>