.room-body {
  direction: rtl;
  width: 100%;
  height: 70px;
  line-height: 70px;
  padding: 0 10px 0 20px;
  border-radius: 10px;
  position: relative;
  .room-name {
    font-size: 17px;
    font-weight: 700;
    position: relative;
    .unread-number {
      position: absolute;
      font-size: 10px;
      left: 40px;
      color: #ffffff;
      height: 19px;
      width: 19px;
      top: 25px;
      background: #ff2e2e;
      border-radius: 50%;
      line-height: 20px;
      text-align: center;
    }
    .name-change {
      // width: fit-content;
      padding: 0 20px;
      .arrow {
        top: 25px;
        right: 0px;
      }
      .edit {
        opacity: 0;
        right: 0px;
        top: 25px;
        transition: 0.3s ease;
      }
      .phone-number {
        position: absolute;
        top: 20px;
        font-size: 13px;
        right: 20px;
        color: #9c9c9c;
        font-family: cursive;
      }
    }
    .name-change:hover {
      .edit {
        right: -3px;
        top: 25px;
        opacity: 100;
      }
    }
    .channel-ico {
      position: absolute;
      top: 5px;
      left: 0px;
      img {
        height: 28px;
      }
    }
  }
  nb-icon {
    position: absolute;
    top: 6px;
    left: 6px;
    color: #656565;
  }
  nb-icon:hover {
    font-size: 22px;
    // color: #656565;
  }
}
.selected {
  cursor: pointer;
  background-color: #eaeaea96;
}
.room-body:hover {
  cursor: pointer;
  background-color: #eaeaea96;
}
