<div class="room-body" [ngClass]="{'selected': room.chatId == activeChatId }" (click)="getMessages()">


  <!-- <button
    shape="round"
    nbButton
    size="tiny"
    status="danger"
    (click)="deleteChat(room.chatId)"
  > -->
  <!-- <nb-icon
    status="danger"
    (click)="deleteChat(room.chatId)"
    nbButton
    icon="trash-outline"
  ></nb-icon> -->
  <!-- </button> -->
  <div class="room-name">
    <div class="unread-number" *ngIf="room.unreadMessages">{{room.unreadMessages}}</div>
    <div class="channel-ico">
      <img *ngIf="room.chatChannelId == 'whatsapp'" src="../../../../assets/whatsapp-ico.png" alt="">
      <img *ngIf="room.chatChannelId == 'sms'" src="../../../../assets/sms-ico.png" alt="">
      <img *ngIf="room.chatChannelId == 'messenger'" src="../../../../assets/facebook-ico.png" alt="">
    </div>
    <div class="name-change" *ngIf="!editMode">
      <!-- {{room.name}} -->
      <!-- {{testName}} -->
      {{
        userName
      }}
      <nb-icon class="edit" [id]="room.createdOn" icon="edit-outline" (click)="editName(true, room.createdOn)">
      </nb-icon>
      <span class="phone-number">{{room.name}}</span>
    </div>
    <div class="name-change" *ngIf="editMode">
      <!-- <nb-icon class="arrow" icon="arrow-forward-outline" (click)="updateName()"></nb-icon> -->
      <input type="text" fieldSize="tiny" nbInput [placeholder]="userName" [(ngModel)]="name" (blur)="updateName()" (keydown)="keyDownHandler($event)"
        [id]="room.createdOn" [status]="name ? 'primary' : 'danger'">
    </div>
  </div>
</div>