<div class="room-body" (click)="getMessages(room.chatId)">

  <!-- <button
    shape="round"
    nbButton
    size="tiny"
    status="danger"
    (click)="deleteChat(room.chatId)"
  > -->
  <!-- <nb-icon
    status="danger"
    (click)="deleteChat(room.chatId)"
    nbButton
    icon="trash-outline"
  ></nb-icon> -->
  <!-- </button> -->
  <div class="room-name">
    <div class="channel-ico">
      <img *ngIf="room.chatChannelId == 'whatsapp'" src="../../../../assets/whatsapp-ico.png" alt="">
      <img *ngIf="room.chatChannelId == 'sms'" src="../../../../assets/sms-ico.png" alt="">
    </div>
    <div class="name-change" *ngIf="!editMode" (click)="editName(true)">
      {{room.name}}
      <!-- {{
        hook.getUserById(room.userId) ? hook.getUserById(room.userId).name : ""
      }} -->
      <nb-icon class="edit" icon="edit-outline"></nb-icon>
    </div>
    <div class="name-change" *ngIf="editMode">
      <nb-icon class="arrow" icon="arrow-forward-outline" (click)="updateName()"></nb-icon>
      <input type="text" fieldSize="tiny" nbInput [placeholder]="room.name" [(ngModel)]="name"
        [status]="name ? 'primary' : 'danger'">
    </div>
  </div>
</div>