<nb-layout rtl center>
    <nb-layout-header>
        <div class="logo">
            <img src="../assets/logo-new.png" alt="">
        </div>
        <nb-icon icon="lock-outline" class="logout-icon" (click)="logout()"></nb-icon>
        <nb-icon icon="home-outline" class="people-icon" (click)="toDashboard()"></nb-icon>
    </nb-layout-header>
    <nb-layout-column>
        <nb-card>
            <nb-card-body>
                <h1>שלום, מנהל!</h1>
                <h2>זהו לוח בקרה המספק לך כמה תכונות מיוחדות.
                    <br>
                    אז אתה יכול:
                </h2>
                <ul>
                    <li>
                        לרשום משתמש חדש;
                    </li>
                    <li>
                        למחוק משתמש ספציפי;
                    </li>
                    <li>
                        הגדירו תפקידים לחברי הצוות שלכם;
                    </li>
                </ul>
            </nb-card-body>
        </nb-card>
        <nb-card>
            <nb-card-body>
                <nb-tabset>
                    <nb-tab tabTitle="חברי צוות">
                        <ul>
                            <li *ngFor="let user of users">
                                {{user.name}} / {{user.role}} </li>
                        </ul>
                    </nb-tab>
                    <nb-tab tabTitle="תוסיף חבר">
                        <app-register></app-register>
                    </nb-tab>
                </nb-tabset>
            </nb-card-body>
        </nb-card>
    </nb-layout-column>
</nb-layout>