<nb-layout rtl center>
    <nb-layout-header>
        <div class="logo">
            <img src="../assets/logo-new.png" alt="">
        </div>
        <nb-icon icon="lock-outline" class="logout-icon" (click)="logout()" nbTooltip="Logout"
            nbTooltipPlacement="bottom" nbTooltipStatus="primary"></nb-icon>
        <nb-icon icon="home-outline" class="people-icon" (click)="toDashboard()" nbTooltip="Dasboard"
            nbTooltipPlacement="bottom" nbTooltipStatus="primary"></nb-icon>
    </nb-layout-header>
    <nb-layout-column>
        <nb-card>
            <nb-card-body>
                <h1>שלום, מנהל!</h1>
                <h2>זהו לוח בקרה המספק לך כמה תכונות מיוחדות.
                    <br>
                    אז אתה יכול:
                </h2>
                <ul>
                    <li>
                        לרשום משתמש חדש;
                    </li>
                    <li>
                        למחוק משתמש ספציפי;
                    </li>
                    <li>
                        הגדירו תפקידים לחברי הצוות שלכם;
                    </li>
                </ul>
            </nb-card-body>
        </nb-card>
        <nb-card>
            <nb-card-body>
                <nb-tabset>
                    <nb-tab tabTitle="חברי צוות" [nbSpinner]="!userListFull" nbSpinnerStatus="info"
                        nbSpinnerSize="giant">
                        <ul *ngIf="userListFull">
                            <li *ngFor="let user of userListFull, let i = index" (click)="editUser(user)">
                                {{i + 1}}.
                                <b>{{text.normalize(user.name, 15, "...")}}</b>
                                &nbsp;-&nbsp;
                                {{user?.role == 'employee' ? 'עובד/ת' : ''}}
                                {{user?.role == 'manager' ? 'מנהל/ת' : ''}}
                                {{user?.role == 'admin' ? 'מנהל/ת מערכת' : ''}}
                                <span>
                                    <nb-icon icon="edit-outline"></nb-icon>
                                </span>
                            </li>
                        </ul>
                    </nb-tab>
                    <nb-tab tabTitle="הוספת משתמש">
                        <app-register (registered)="getUsersAuth()"></app-register>
                    </nb-tab>
                </nb-tabset>
            </nb-card-body>
        </nb-card>
    </nb-layout-column>
</nb-layout>