.logo {
    img {
        height: 26px;
    }
}
.logout-icon {
    position: absolute;
    right: 20px;
    cursor: pointer;
}
.people-icon {
    position: absolute;
    right: 60px;
    cursor: pointer;
}
