<nb-layout>
  <nb-layout-header subheader>
    UpStart chat app
  </nb-layout-header>
  <nb-sidebar tag="left" state="collapsed">
    <app-chat-rooms-llist
      [rooms]="chats | async"
      (roomChanged)="getRoomMesages($event)"
    ></app-chat-rooms-llist>
  </nb-sidebar>
  <nb-sidebar right tag="right" state="collapsed">
    <app-notes-list
      [notes]="notes | async"
      (noteChanged)="notesChange($event)"
    ></app-notes-list>
  </nb-sidebar>
  <nb-layout-column>
    <div class="triggers">
      <button
        nbButton
        status="primary"
        size="tiny"
        (click)="toggle()"
        *ngIf="chats"
      >
        Chat list
      </button>
      <button nbButton status="success" size="tiny" (click)="newChat()">
        Create New Chat
      </button>
      <button
        nbButton
        status="warning"
        size="tiny"
        (click)="toggleNotes()"
        *ngIf="notes"
      >
        Notes
      </button>
    </div>
    <nb-chat
      [title]="activeChatId ? 'Chat: ' + activeChatId : 'Choose a chat'"
      size="large"
    >
      <nb-chat-message
        *ngFor="let message of messages | async"
        [message]="message.details"
      >
      </nb-chat-message>
      <nb-chat-form (send)="newMessage($event)"></nb-chat-form>
    </nb-chat>
  </nb-layout-column>
</nb-layout>
