<nb-layout rtl>
  <nb-layout-header subheader>
    אפליקציית צ'ט התמיכה של UpStart
  </nb-layout-header>
  <nb-sidebar right tag="right" state="collapsed">
    <app-chat-rooms-llist
      [rooms]="chats.value"
      (roomChanged)="getRoomMesages($event)"
      (removeChat)="removeChat($event)"
    ></app-chat-rooms-llist>
  </nb-sidebar>
  <nb-sidebar tag="left" state="collapsed">
    <app-notes-list
      [notes]="notes.value"
      [chatId]="activeChatId"
      (addNote)="newNote($event)"
      (deleteNote)="removeNote($event)"
    ></app-notes-list>
  </nb-sidebar>
  <nb-layout-column>
    <div class="triggers">
      <button
        nbButton
        status="primary"
        size="tiny"
        (click)="toggle()"
        *ngIf="chats"
      >
        רשימת צ'אט
      </button>
      <button nbButton status="success" size="tiny" (click)="newChat()">
        צור צ'אט חדש
      </button>
      <button nbButton status="warning" size="tiny" (click)="toggleNotes()">
        הערות
      </button>
      <button nbButton status="danger" size="tiny" (click)="toVideoChat()">
        וידאו צ'אט
      </button>
    </div>
    <div class="chat-area" [ngClass]="{ 'full-height': isFrameExpanded }">
      <nb-chat
        scrollBottom="true"
        *ngIf="!isFrameExpanded || !videoChatMode"
        [ngClass]="videoChatMode ? 'half-size' : 'full-size'"
        [title]="activeChatId ? 'Chat title' : 'Chose a chat'"
        size="large"
      >
        <!-- {{messages.value.length > 0 ? getUserById((messages.value)[0].userId) == null : ''}} -->

        <nb-chat-message
          *ngFor="let message of messages.value"
          [message]="message.details"
          [type]="message.type"
          [sender]="getUserById(message.userId).name"
          [files]="message.files"
          [reply]="message.userId == actualUserId ? true : false"
        >
        </nb-chat-message>
        <nb-chat-form
          messagePlaceholder="הקלד הודעה"
          (send)="newMessage($event)"
          [dropFiles]="true"
        ></nb-chat-form>
      </nb-chat>
      <app-video-chat
        [ngClass]="isFrameExpanded ? 'full-size' : 'half-size'"
        *ngIf="videoChatMode"
        (expandFrame)="expandFrame($event)"
      ></app-video-chat>
    </div>
  </nb-layout-column>
</nb-layout>
