.note-body {
  direction: rtl;
  button {
    height: fit-content;
    position: absolute;
    top: 5px;
    left: 3px;
  }
  width: 100%;
  min-height: 80px;
  height: auto;
  line-height: 80px;
  padding: 35px 20px 10px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  position: relative;
  margin-bottom: 5px;
  border-radius: 7px;
  background-color: #bbd9ff;
  border-bottom: 1px solid #ededed;
  .note-details {
    width: 100%;
    text-align: right;
    line-height: 24px;
  }
}
