<div class="rooms-list">
  <nb-card class="chats" style="height: 100%;">
    <div class="notes-card-header">
      <span>שיחות
        {{choosenStatus == "new" ? 'חדשות ' : ''}}
        {{choosenStatus == "active" ? 'פעילות' : ''}}
        {{choosenStatus == "resolved" ? 'נפתרו' : ''}}
        {{choosenStatus == "archived" ? 'ארכיון' : ''}}
      </span>
      <nb-form-field>
        <nb-icon nbPrefix icon="search-outline" pack="eva"></nb-icon>
        <input type="text" nbInput fullWidth shape="round" placeholder="חיפוש" [(ngModel)]="searchValue"
          (ngModelChange)="doSearch($event)">
      </nb-form-field>
    </div>
    <app-chat-room-item *ngFor="let room of availableChats(filteredRooms || rooms)" [room]="room"
      [activeChatId]="activeChatId" (roomChanged)="chatRoomChanged($event)" (removeChat)="deleteChat($event)">
    </app-chat-room-item>
  </nb-card>
</div>