.rooms-list {
  height: 100%;
  background-color: #ebeff5;
  .notes-card-header {
    padding: 0px 10px 10px;
    span {
      line-height: 58px;
      padding-right: 7px;
      font-size: 25px !important;
      font-weight: bold !important;
      font-family: "Segoe UI" !important;
    }
  }
  .chats {
    min-height: 66vh;
    overflow-y: overlay;
    margin-bottom: 0;
    padding: 8px;
  }
}
