<div class="rooms-list">

  <nb-card>
    <div class="filters">
      <div class="filter">
        <div class="counter">{{counter.getChatsCountByStatus('new')}}</div>
        <!-- <button nbButton status="success" shape="round" size="small">
          New
        </button> -->
        <div class="filter-switch" (click)="showByStatus('new')">
          New
        </div>
      </div>
      <div class="filter">
        <div class="counter">{{counter.getChatsCountByStatus('active')}}</div>
        <div class="filter-switch" (click)="showByStatus('active')">
          Active
        </div>
      </div>
      <div class="filter">
        <div class="counter">{{counter.getChatsCountByStatus('resolved')}}</div>
        <div class="filter-switch" (click)="showByStatus('resolved')">
          Resolved
        </div>
      </div>
      <div class="filter">
        <div class="counter">{{counter.getChatsCountByStatus('archived')}}</div>
        <div class="filter-switch" (click)="showByStatus('archived')">
          Archived
        </div>
      </div>
    </div>
  </nb-card>
  <nb-card class="chats">
    <app-chat-room-item *ngFor="let room of rooms" [room]="room" (roomChanged)="chatRoomChanged($event)"
      (removeChat)="deleteChat($event)"></app-chat-room-item>
  </nb-card>

</div>