// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$chatapp-primary: mat-palette($mat-indigo);
$chatapp-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$chatapp-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$chatapp-theme: mat-light-theme($chatapp-primary, $chatapp-accent, $chatapp-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($chatapp-theme);
nb-chat .header {
  padding-right: 80px !important;
}
nb-layout-header {
  background-color: #edf1f7 !important;
  nav {
    box-shadow: none !important;
    direction: ltr;
    height: 3.75rem !important;
  }
}
nb-popover {
  div {
    width: 130px;
    position: relative;
    padding: 0px 27px;
    height: 32px;
    line-height: 32px;
    span {
      position: absolute;
      top: 33%;
      height: 10px;
      right: 10px;
      border-radius: 50%;
      width: 10px;
    }
  }
  div:hover {
    background-color: whitesmoke;
    cursor: pointer;
  }
}
nb-chat-form {
  button {
    background-color: #00aaf6 !important;
    border-color: #00aaf6 !important;
  }
}
nb-chat-message.reply {
  p.text {
    background: #ececec !important;
  }
}
nb-chat-message {
  p.text {
    font-family: "Segoe UI" !important;
    background: #c1c1c1 !important;
  }
}
nb-card {
  margin-bottom: 16px !important;
  border-radius: 5px !important;
}
.status-basic .header {
  font-size: 25px !important;
  font-weight: bold !important;
  font-family: "Segoe UI" !important;
}
nb-layout-column {
  padding: 0 16px !important;
  padding-top: 0 !important;
}
.scrollable {
  padding: 0px !important;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
span.new {
  background-color: #43da84;
}
span.active {
  background-color: #00aaf6;
}
span.resolved {
  background-color: #f7b928;
}
span.archived {
  background-color: #ed6b49;
}
