.notes-list {
  animation: myAnimation 1s;
  padding: 10px 5px 150px;
  .new-note {
    flex-direction: column;
    display: flex;
    margin-bottom: 8px;
    textarea {
      max-width: 246px;
      min-width: 246px;
      height: 115px;
      font-size: 15px;
      font-weight: 500;
      background-color: #ffcf77;
    }
  }
}
@keyframes myAnimation {
  0% {
    opacity: 0;
    transform: rotateX(90deg);
  }
  100% {
    opacity: 1;
    transform: rotateX(0deg);
  }
}
