<div class="notes-list">
  <div class="notes-card-header">
    <span>הערות</span>
    <nb-form-field>
      <nb-icon nbPrefix icon="search-outline" pack="eva"></nb-icon>
      <input type="text" nbInput fullWidth shape="round" placeholder="לחפש" [(ngModel)]="searchValue"
        (ngModelChange)="doSearch($event)">
    </nb-form-field>
  </div>
  <div class="notes-block scrollable">
    <div class="new-note">
      <textarea nbInput fullWidth placeholder="כתוב פתק..." [(ngModel)]="noteText"></textarea>
    </div>
    <app-notes-list-item *ngFor="let note of filteredNotes || notes" [chatId]="chatId" [note]="note"
      (removeNote)="removeNote($event)">
    </app-notes-list-item>
  </div>
</div>