.notes-list {
  padding: 10px 10px 85px;
  .new-note {
    flex-direction: column;
    display: flex;
    margin-bottom: 8px;
    textarea {
      max-width: 236px;
      min-width: 236px;
      height: 115px;
      font-size: 15px;
      font-weight: 500;
      background-color: #ffcf77;
    }
  }
}
